<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<a th:href="@{/logout}">
   		<button>Log out</button>
	</a>
	<p> </p>

	<h1
		th:text="${'Hello ' + user.getFirstname() + ' ' + user.getLastname()}"></h1>
	<p></p>

	<select th:field="*{user}">
		<option value="">Select Account</option>
		<option th:each="account : ${user.getAccounts()}"
			th:value="${account.getAccountNumber()}"
			th:text="${account.getAccountNumber()}"></option>
	</select>
	<p></p>
	<form action="#" class="button" th:action="@{/addAccount}" th:object="${user}" method="POST">
		<input type="submit" value="Add account" />
	</form>
</body>
</html>